<h1>회원가입</h1>
<form action="/users/register">
  <p>email : <input type="text" name="email" placeholder="email enter"></p>
  <p>password : <input type="password" name="password"></p>
  <input type="submit" value="확인">
</form>
