  <div class="container">
    <div class="card mb-3">
      <div class="card-body">
        <h1 class="display-5">회원가입</h1><br>
        <form action="/users/register">
          <div class="form-group">
            <label for="exampleInputEmail1">이메일</label>
            <input type="text" class="form-control" name="email" placeholder="이메일을 입력하세요">
            <small id="titleHelp" class="form-text text-muted">이메일은 필수로 입력하셔야 합니다.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">비밀번호</label>
            <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력하세요">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  <div>
