<a href="/posts/new">새글 쓰기</a>
<h1>ㅎㅇ</h1>
<h4>글 목록 보여드림</h4>
<%@posts.each do |list|%>
  <p>
    제목 : <%= list.title %><br>
    내용 : <%= list.content %><br>
    <!--  데이터베이스에서 우리가 삭제하고자 하는 글을 찾는다. -->
    <!--  해당하는 글을 삭제한다.-->
    <a href="/posts/destroy/<%= list.id%>">삭제</a>
    <!--  데이터베이스에서 우리가 수정하고자 하는 글을 찾는다.-->
    <!--  찾은 글을 <form>에 보여주고 수정할 내용을 입력 받는다.-->
    <!--  입력받은 내용을 받아서 데이터베이스에서 수정한다.-->
    <a href="/posts/edit/<%= list.id %>">수정</a>
  </p>

<% end %>
