<body>
  <h1>글쓰기</h1>
  <form action="/create">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" name="title" aria-describedby="titlelHelp" placeholder="제목을 입력하세요">
        <input type="text" class="form-control" name="content" aria-describedby="titlelHelp" placeholder="내용을 입력하세요">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
