<body>
  <h1>회원가입</h1>
  <form action="/register">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" name="email" aria-describedby="titlelHelp" placeholder="이메일을 입력하세요">
        <input type="password" class="form-control" name="password" aria-describedby="titlelHelp" placeholder="비밀번호를 입력하세요">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
