<body>
  <h1>글쓰기</h1>
  <form action="/posts/create">
    제목 : <input type="text" name="title" placeholder="제목을 입력해주세요"><br>
    내용 : <input type="text" name="content" placeholder="내용을 입력해주세요"><br>
    <input type="submit" value="등록">
  </form>
</body>
