<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <div class="container">
      <h1 class="display-3">글쓰기</h1><br>
      <form action="/posts/create/">
        <div class="form-group">
          <input type="text" class="form-control" name="title" placeholder="제목을 입력해주세요"><br>
          <input type="text" class="form-control" name="content" placeholder="내용을 입력해주세요"><br>
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
      </form>
    </div>
  </div>
</div>
