<h1>로그인</h1>
<form action="/users/login_session">
  이메일 : <input type="text" name="email" placeholder="이메일을 입력하세요"><br>
  비밀번호 : <input type="password" name="password" placeholder="비밀번호를 입력하세요"><br>
  <input type="submit" value="확인">
</form>
