<h1>로그인</h1>
<form action="/login_session">
    <div class="form-group">
      <input type="text" class="form-control" name="email" placeholder="이메일을 입력하세요">
      <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력하세요">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
